/* Start Global Rules */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

:root {
    --main-color: #00E1FF;
    --p-color: #777;
    --transparent-color: rgb(15 116 143 / 70%);
    --transtion: 0.5s;
    --section--padding: 100px
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

/* Start Componantes */
.main-heading {
    text-align: center;
}

.main-heading h2 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 70px;
    position: relative;
}

.main-heading h2::before {
    content: '';
    position: absolute;
    width: 120px;
    height: 2px;
    left: 50%;
    bottom: -30px;
    background: #333;
    transform: translateX(-50%);
}

.main-heading h2::after {
    content: '';
    position: absolute;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    left: 50%;
    bottom: -38px;
    border: 2px solid #333;
    background-color: white;
    transform: translateX(-50%);

}

.main-heading p {
    width: 550px;
    max-width: 100%;
    margin: 0 auto 100px;
    color: var(--p-color);
    line-height: 2;
}

/* End Componantes */


/* ---------- Media Quires -------------- */

/* ============= Small ======== */
@media (min-width: 769px) {
    .container {
        width: 750px;
    }
}

/* ============= Medium ======= */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* ============= Large ======== */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* End Global Rules */